* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/* Cabeçalho */

header .container {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

header {
    background-color: rgb(49, 104, 215);
    padding: 8px;
    margin-bottom: 36px;
}

h1 {
    font-style: italic;
    color: white;
}

nav ul li {
    display: inline;
}

ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
    padding-left: 16px;
    font-weight: 550;
}

/* Conteúdo - Sobre a loja */

section .container {
    display: flex;
}

.container img {
    margin-right: 36px;
}

section {
    margin-bottom: 56px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 24px;
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(49, 104, 215);
    color: rgb(49, 104, 215);
    font-style: italic;
}



/* Conteúdo - Produtos */

#product .container {
    display: block;
}

.produtos-listados {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    list-style: none;
    margin-top: 46px;
}

.produtos-listados p {
    margin: 16px 0;
    font-size: 1em;
}

.produtos-listados h3 {
    margin: 16px 0;
    font-weight: bold;
    font-size: 1.5em;
}
/* Conteúdo - Produtos > button */

button {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: rgb(49, 104, 215);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    cursor: pointer;
}

/* Responsivo de Layout Tablet (de 641px até 1023px): */

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    section .container {
        display: block;
    }

    section .container img {
        width: 100%;
    }

    section .container h2 {
        margin: 36px 0;
    }

    .produtos-listados {
        grid-template-columns: repeat(2, 49%);
    }

    .produtos-listados li {
        font-size: 1em;
        padding-bottom: 56px;
    }
}

/* Responsivo de Layout Mobile (até 640px) */

@media screen and (max-width: 640px) {
    .container {
        max-width: 80%;
    }

    section .container {
        display: block;
    }

    section .container h2 {
        margin: 36px 0;
    }

    section .container img {
        width: 100%;
    }

    .produtos-listados {
        grid-template-columns: repeat(1, 100%);
    }

    .produtos-listados li {
        font-size: 1em;
        padding-bottom: 56px;
    }
}